<h1>Whats this app about anyway?</h1>
<h2>About</h2>
<p>Mainly this app is a chance for me to learn a skillset that will hopefully lead me to a successful life while coincidently doing what I enjoy, And maybe along the way bringing joy to others.</p>
