// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#productheader{
	width: 100%;
	text-align:center;
}
.headerrow{
	background-color:blue;
}
.productrow{
	background-color:green;
	text-align:left;

}
.entiretable{
	width:50%;
	margin: 0 auto;

}